<!-- index.html -->
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>League of Legends HUD</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
    <div id="title-bar">
        <span id="title-text" contenteditable="true">
            <span id="title-text-mask">Tournament title</span>
        </span>
    </div>

    <div id="sponsor-panels"></div>
    <div id="blue-team-score"></div>
    <div id="red-team-score"></div>
    <script src="/static/js/main.js"></script>
</body>

</html>